<div class="container" id="home-cont">
  <div class="row">
    <div class="col-md-12">
      <h1>About Us</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <h2>Our Mission:</h2>
    </div>
    <div class="col-md-12">
      <p>Connect local and international aid and development organizations in order to foster relationships and improve response in regions of conflict. CollaborAid is apolitical and committed to establishing robust networks that strengthen, expand, and connect organizational efforts. Our vision is to help close the gap in coordination so that individual needs can be more effectively met.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <h2>Who We Are:</h2>
    </div>
    <div class="col-md-12">
      <p>CollaborAid was founded by a group of students at Carleton College, a liberal arts university in Minnesota. Each member of this project comes from a slightly different background&mdash;some have spent time in conflict/post-conflict contexts in southern Turkey, Rwanda, northern Uganda and Palestine; some have backgrounds in education or community organizing; others have become public advocates for grassroots need-identification. In short, we are, and by extension this project is, determined to shift the focus of conversation surrounding aid and development.</p>
    </div>
  </div>
</div>
