<div class="container" id="home-cont">
  <div class="row">
    <div class="col-md-12">
      <h1>Add Your Project</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <p>We hope that you will use this tool to inform your organization’s decisions, about resources, projects, and finances. In order to best serve the aid and development community it is essential that this tool be as accurate and as full as possible. We hope you will join us by submitting your development project to the CollaborAid map.</p>
      <p>Please fill out <a href="https://docs.google.com/forms/d/1BsRL4tI3qhlnds3x01cETi0Bz7wS5MULpjxboa9iNO0/viewform">this form</a> with as many details as you can.</p>
      <p>IMPORTANT: Due to the dynamics of delivering aid and doing development work, we recognize that some of the information we are asking for is sensitive. Therefore we ask that you refrain from putting any information into the form that will put your or your organization at risk.</p>
    </div>
  </div>
</div>