<div class="container" id="home-cont">
  <div class="row">
    <div class="col-md-12">
      <h1>Contact Us</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <p>If you have any questions or comments regarding our project, please let us know how we can help you by emailing <a href="mailto:info@collaboraid.org">info@collaboraid.org</a>.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <p>Who is on the team?</p>
      <p>Matthew Cotter<br>Matthew Fitzgerald<br>Jacob Hamalian<br>Erik Madsen-Bond<br>Evan Summers<br>Bailey Ulbricht</p>
    </div>
  </div>
</div>