// import the CSS framework
@import "bootstrap";

// make all images responsive by default
img {
  @extend .img-responsive;
  margin: 0 auto;
  }
// override for the 'Home' navigation link
.navbar-brand {
  font-size: inherit;
  }
.checkbox {
  margin-top: 3px;
  margin-bottom: 3px;
  }
// apply styles to HTML elements
// to make views framework-neutral
main {
  @extend .container;
  background-color: #eee;
  padding-bottom: 60px;
  width: 100%;
  margin-top: 51px; // accommodate the navbar
  }
section {
  @extend .row;
  margin-top: 20px;
  }
html, .body{
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #eee;
  }
*{
  font-family: "Helvetica Neue", helvetica, sans-serif;
  }