// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#searchbar{
  z-index: 9;
  cursor: default;
  background-color: #fff;
  border: solid 1px #ccc;
  box-shadow: 10px 10px 20px #444;
  position: absolute;
  top: 10px;
  left: 50px;
  margin: 0;
  padding: 1em;
  max-width: 400px;
  input{
    cursor: pointer;
  }
  a{
    cursor: pointer;
    padding-left: 21px;
    color: #00ADEF;
    text-decoration: none;
    font-weight: 700;
    text-shadow: 1px 1px 1px #ddd;
    &:visited{
      text-decoration: none;
      color: #00ADEF;
    }
    &:active{
      text-decoration: none;
      color: #00ADEF;
    }
    &:hover{
      text-decoration: none;
      color: #632423;
      background-color: #fff;
    }
  }
  #showhide{
    float: right;
    padding: 2px 1em;
    margin-bottom: -9px;
  }
}
#map{
  position: relative;
  height: 580px;
  img.leaflet-marker-icon{
    cursor: pointer;
  }
  .marker-title{
    h1{
      font-size: 12pt;
      margin: .5em 0;
      padding: 0;
      font-style: italic;
      font-weight: 900;
      text-decoration: underline;
      color: #632423;
      &:before{
        content: '\00201C';
      }
      &:after{
        content: '\00201D';
      }
    }
  }
  .marker-description{
    p{
      font-size: 10pt;
      strong{
        display: block;
      }
      span{
        display: inline-block;
        padding-left: 15px;
      }
    }
    small{
      display: block;
      width: 100%;
      font-size: 10pt;
      text-align: right;
      font-style: normal;
      a{
        color: #0AB0F0;
        font-weight: 700;
        text-decoration: underline;
        &:visited{
          text-decoration: underline;
          color: #0AB0F0;
        }
        &:active{
          text-decoration: underline;
          color: #0AB0F0;
        }
        &:hover{
          text-decoration: underline;
          color: #632423;
          background-color: #fff;
        }
      }
    }
  }
}

#home-cont{
  h1, h2{
    text-decoration: none;
    font-size: 24pt;
    line-height: 1;
    margin: 1em 0;
    padding: 0;
    color: #632423;
    display: block;
    font-weight: 900;
  }
  h2{
    margin: .2em 0;
    font-size: 20pt;
  }
  p{
    font-size: 12pt;
    color: #595959;
    margin: 1em 0;
    padding: 0;
    display: block;
    max-width: 35em;
    line-height: 1.4;
  }
  p a{
    color: #1C38FF;
    text-decoration: none;
    font-style: italic;
    &:visited{
      text-decoration: none;
      color: #1C38FF;
    }
    &:active{
      text-decoration: none;
      color: #1C38FF;
    }
    &:hover{
      text-decoration: none;
      color: #632423;
      background-color: #eee;
    }
  }
}
#map #searchbar h2{
  font-size: 16pt;
  margin-bottom: 2px;
}

#welcome-img{
  margin-bottom: 10px;
}