// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#index-cont{
  .map-row{
    height: 500px;
    .span12{
      height: 100%;
    }
  }
}
#map{
  height: 100%;
}
.marker-title{
  h1{
    color: red;
  }
}
.marker-description{
  p{
    font-style: italic;
  }
  a, a:hover, a:visited, a:active{
    text-decoration: none;
    background-color: transparent;
    color: #d22;
  }
  a:hover{
    color: #f44;
  }
}

#about-cont{
  h1{
    text-decoration: underline;
  }
  h2{
    font-size: 22px;
  }
}